@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background:  #fff;
}
#formulario{
    position: relative;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background: yellow;
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    align-items: center;    
}
.titulo{
    font-size: 1.8em;
    margin-bottom: 10%;
    }
.input{
    min-width: 280px;
    border-radius: 22px;
    border: 2px yellow solid;
    padding: 5px;
    margin-bottom: 0px 0px 12px -5px;
    }
.input i{
    font-size:1.2em;
    padding: 5px;
    background: -webkit-linear-gradient(black)
}
.input input{
    width: 80%;
    border: none;
    outline: none;
    font-family: "Poppins";
    transform: translateY(-10%);
    color: black;
    font-size:15pt;
}
#btn{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}
#btn button{
    font-family: "Poppins", sans-serif;
    background:rgb(10, 12, 15);
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color:#fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
#btn button:hover{
    background: black;

}